/* .container {
    display: flex;
    align-items: center;
  }
  
  .button {
    background-color: transparent;
    border: none;
    color: white;
    font-size: 30px;
    cursor: pointer;
    outline: none;
  }
  
  .nowPlaying {
    margin-left: 15px;
    font-size: 18px;
  }
   */